@import "/src/css/global.scss";

:host {
  display: block;
  min-height: calc(100vh);

  app-blog-card {
    margin-bottom: 16px;
  }

  @include mq(spc) {
    app-blog-card {
      margin-bottom: 24px;
    }
  }
}