:host {
  display: block;

  .title {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-text-heading);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    .tag {
      margin: 8px;
    }
  }
}