.halloween {
  /* ---------------------------- */
  /* 背景(ボディー)カラー */
  /* ---------------------------- */
  --color-background: #4A1101;

  --color-dividing-line: #985944;

  /* ---------------------------- */
  /* ヘッダーカラー */
  /* ---------------------------- */
  --color-header: #FFA003;
  --color-on-header: #270742;
  --color-header-text-heading: #270742;
  --color-header-text-sanitized: #270742;

  /* ---------------------------- */
  /* フッターカラー */
  /* ---------------------------- */
  --color-footer: #FFA003;
  --color-on-footer: #270742;
  --color-footer-text-heading: #270742;
  --color-footer-text-sanitized: #270742;


  /* ---------------------------- */
  /* カードカラー */
  /* ---------------------------- */
  --color-card-surface: #DE4108;
  --color-card-text-heading: #ffffff;
  --color-card-text-sanitized: #d5d5d5;
  --color-card-surface-hover: #e93904;

  /* ---------------------------- */
  /* チップカラー */
  /* ---------------------------- */
  --color-chip-surface: #6a4d82;
  --color-chip-surface-fill: #471e69;
  --color-chip-surface-hover: #471e69;
  --color-chip-surface-selected: #270742;

  --color-chip-text: #ffffff;
  --color-chip-text-fill: #ffffff;
  --color-chip-text-hover: #ffffff;
  --color-chip-text-selected: #ffffff;

  /* ---------------------------- */
  /* テキストカラー */
  /* ---------------------------- */
  --color-text-heading: #FFFFFF;
  --color-text-sanitized: #FFFFFF;
  --color-text-toc: #FFFFFF;

  /* ---------------------------- */
  /* プログレスバー */
  /* ---------------------------- */
  --color-surface-progress-bar: #875387;
  --color-background-progress-bar: #ffffff;


  /* ---------------------------- */
  /* スケルトン */
  /* ---------------------------- */
  --color-skeleton: #E6998A;
  --color-skeleton-line: #DE4108;

  /* ---------------------------- */
  /* リンク */
  /* ---------------------------- */
  --color-link: #17b819;
  --color-link-hover: #04ae07;

  /* ---------------------------- */
  /* モバイルのTOCアイコン */
  /* ---------------------------- */
  --color-surface-mobile-toc-icon: #DE4108;
  --color-mobile-toc-icon: #ffffff;

  /* ---------------------------- */
  /* 影 */
  /* ---------------------------- */
  --color-shadow-rgb: 0, 0, 0;
}