.xmas {
  /* ---------------------------- */
  /* 背景(ボディー)カラー */
  /* ---------------------------- */
  --color-background: #FFFFFF;

  --color-dividing-line: #cf1922;

  /* ---------------------------- */
  /* ヘッダーカラー */
  /* ---------------------------- */
  --color-header: #cf1922;
  --color-on-header: #ffffff;
  --color-header-text-heading: #ffffff;
  --color-header-text-sanitized: #ffffff;

  /* ---------------------------- */
  /* フッターカラー */
  /* ---------------------------- */
  --color-footer: #573703;
  --color-on-footer: #ffffff;
  --color-footer-text-heading: #ffffff;
  --color-footer-text-sanitized: #ffffff;


  /* ---------------------------- */
  /* カードカラー */
  /* ---------------------------- */
  --color-card-surface: #077D47;
  --color-card-text-heading: #ffffff;
  --color-card-text-sanitized: #d5d5d5;
  --color-card-surface-hover: #cf1922;

  /* ---------------------------- */
  /* チップカラー */
  /* ---------------------------- */
  --color-chip-surface: #CF231B;
  --color-chip-surface-fill: #CF231B;
  --color-chip-surface-hover: #CF231B;
  --color-chip-surface-selected: #CF231B;

  --color-chip-text: #ffffff;
  --color-chip-text-fill: #ffffff;
  --color-chip-text-hover: #ffffff;
  --color-chip-text-selected: #ffffff;

  /* ---------------------------- */
  /* テキストカラー */
  /* ---------------------------- */
  --color-text-heading: #573703;
  --color-text-sanitized: #6f4500;
  --color-text-toc: #ffffff;

  /* ---------------------------- */
  /* プログレスバー */
  /* ---------------------------- */
  --color-surface-progress-bar: #CF231B;
  --color-background-progress-bar: #ffffff;


  /* ---------------------------- */
  /* スケルトン */
  /* ---------------------------- */
  --color-skeleton: #E6998A;
  --color-skeleton-line: #DE4108;

  /* ---------------------------- */
  /* リンク */
  /* ---------------------------- */
  --color-link: #f5271c;
  --color-link-hover: #f5271c;

  /* ---------------------------- */
  /* モバイルのTOCアイコン */
  /* ---------------------------- */
  --color-surface-mobile-toc-icon: #077D47;
  --color-mobile-toc-icon: #ffffff;

  /* ---------------------------- */
  /* 影 */
  /* ---------------------------- */
  --color-shadow-rgb: 0, 0, 0;
}