@import "/src/css/global.scss";

:host {
  display: block;

  .recommends {
    .title {
      font-size: 24px;
      font-weight: bold;
      color: var(--color-text-heading);
      margin-top: 64px;
      margin-bottom: 24px;
    }
  }
}