<app-header
  [title]="data?.metaData?.title"
  [description]="data?.metaData?.date"
></app-header>

<div class="main-layout">
  <div class="main-content">
    <app-tags
      [tags]="data?.metaData?.tags"
      class="tags"
    ></app-tags>
    <app-article
      [stringHtml]="data?.html"
      class="article"
    ></app-article>
    <div class="recommends">
      <div class="title">おすすめの記事</div>
      <app-blog-card
        [data]="recommend"
        *ngFor="let recommend of recommends"
      ></app-blog-card>
    </div>
  </div>
  <div class="right-content">
    <div class="card">
      <app-toc
        [stringHtml]="data?.html"
        [indexLevels]="indexLevels"
        [readingSection]="readingSection"
        (clickSection)="scrollIntoView($event)"
      ></app-toc>
    </div>
  </div>
</div>

<app-footer></app-footer>
