@import "/src/css/global.scss";

:host {
  display: block;
  margin-top: 32px;
  max-width: calc(100vw - 16px);

  transition: margin-top var(--transition-time);

  @include mq(tablet) {
    margin-top: 48px;
    max-width: calc(100vw - 32px);
  }

  @include mq(spc) {
    margin-top: 64px;
  }

  ::ng-deep * {
    word-break: break-all;
    border-radius: 16px;
    margin: 16px 0;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 64px;
      color: var(--color-text-heading)
    }

    h3 {
      margin-top: 48px;
    }

    h4, h5, h6 {
      margin-top: 32px;
    }

    p {
      margin: 16px 0;
      color: var(--color-text-sanitized)
    }

    ol {
      margin: 16px 0;
      color: var(--color-text-sanitized)
    }

    li {
      margin: 8px 0;
    }

    img {
      height: auto;
    }

    a {
      color: var(--color-link);

      &:hover {
        color: var(--color-link-hover);
      }
    }

    .twitter-tweet {
      min-height: 500px;
    }
  }
}