@import "/src/css/global.scss";

:host {
  display: block;

  .title {
    font-weight: bold;
    font-size: 18px;
    color: var(--color-text-heading);
  }

  .description {
    color: var(--color-text-heading);
  }
}