/* デフォルトのカラースキーマ */
:root {
  /* ---------------------------- */
  /* 背景(ボディー)カラー */
  /* ---------------------------- */
  --color-background: #ffffff;

  /* ---------------------------- */
  /* ヘッダーカラー */
  /* ---------------------------- */
  --color-header: #E3E4DB;
  --color-on-header: #707070;
  --color-header-text-heading: #707070;
  --color-header-text-sanitized: #707070;

  /* ---------------------------- */
  /* フッターカラー */
  /* ---------------------------- */
  --color-footer: #E3E4DB;
  --color-on-footer: #707070;
  --color-footer-text-heading: #707070;
  --color-footer-text-sanitized: #707070;


  /* ---------------------------- */
  /* カードカラー */
  /* ---------------------------- */
  --color-card-surface: #E3E4DB;
  --color-card-text-heading: #707070;
  --color-card-text-sanitized: #707070;
  --color-card-surface-hover: #DCE2B3;


  /* ---------------------------- */
  /* チップカラー */
  /* ---------------------------- */
  --color-chip-surface: #ffffff;
  --color-chip-surface-fill: #DCE2B3;
  --color-chip-surface-hover: #D3DE83;
  --color-chip-surface-selected: #939B51;

  --color-chip-text: #707070;
  --color-chip-text-fill: #707070;
  --color-chip-text-hover: #707070;
  --color-chip-text-selected: #ffffff;

  /* ---------------------------- */
  /* テキストカラー */
  /* ---------------------------- */
  --color-text-heading: #313131;
  --color-text-sanitized: #707070;
  --color-text-toc: #171717;

  /* ---------------------------- */
  /* プログレスバー */
  /* ---------------------------- */
  --color-surface-progress-bar: #939B51;
  --color-background-progress-bar: #ffffff;

  /* ---------------------------- */
  /* スケルトン */
  /* ---------------------------- */
  --color-skeleton: #ececec;
  --color-skeleton-line: #f5f5f5;

  /* ---------------------------- */
  /* リンク */
  /* ---------------------------- */
  --color-link: #5dba00;
  --color-link-hover: #D3DE83;

  /* ---------------------------- */
  /* モバイルのTOCアイコン */
  /* ---------------------------- */
  --color-surface-mobile-toc-icon: #939B51;
  --color-mobile-toc-icon: #ffffff;

  /* ---------------------------- */
  /* 影 */
  /* ---------------------------- */
  --color-shadow-rgb: 0, 0, 0;


  --transition-time: 200ms;
  --transition-time-half: 100ms;
  --transition-time-quarter: 100ms;
}

.halloween {
  /* ---------------------------- */
  /* 背景(ボディー)カラー */
  /* ---------------------------- */
  --color-background: #4A1101;

  /* ---------------------------- */
  /* ヘッダーカラー */
  /* ---------------------------- */
  --color-header: #FFA003;
  --color-on-header: #270742;
  --color-header-text-heading: #270742;
  --color-header-text-sanitized: #270742;

  /* ---------------------------- */
  /* フッターカラー */
  /* ---------------------------- */
  --color-footer: #FFA003;
  --color-on-footer: #270742;
  --color-footer-text-heading: #270742;
  --color-footer-text-sanitized: #270742;


  /* ---------------------------- */
  /* カードカラー */
  /* ---------------------------- */
  --color-card-surface: #DE4108;
  --color-card-text-heading: #ffffff;
  --color-card-text-sanitized: #d5d5d5;
  --color-card-surface-hover: #e93904;

  /* ---------------------------- */
  /* チップカラー */
  /* ---------------------------- */
  --color-chip-surface: #6a4d82;
  --color-chip-surface-fill: #471e69;
  --color-chip-surface-hover: #471e69;
  --color-chip-surface-selected: #270742;

  --color-chip-text: #ffffff;
  --color-chip-text-fill: #ffffff;
  --color-chip-text-hover: #ffffff;
  --color-chip-text-selected: #ffffff;

  /* ---------------------------- */
  /* テキストカラー */
  /* ---------------------------- */
  --color-text-heading: #FFFFFF;
  --color-text-sanitized: #FFFFFF;
  --color-text-toc: #FFFFFF;

  /* ---------------------------- */
  /* プログレスバー */
  /* ---------------------------- */
  --color-surface-progress-bar: #875387;
  --color-background-progress-bar: #ffffff;


  /* ---------------------------- */
  /* スケルトン */
  /* ---------------------------- */
  --color-skeleton: #E6998A;
  --color-skeleton-line: #DE4108;

  /* ---------------------------- */
  /* リンク */
  /* ---------------------------- */
  --color-link: #17b819;
  --color-link-hover: #04ae07;

  /* ---------------------------- */
  /* モバイルのTOCアイコン */
  /* ---------------------------- */
  --color-surface-mobile-toc-icon: #DE4108;
  --color-mobile-toc-icon: #ffffff;

  /* ---------------------------- */
  /* 影 */
  /* ---------------------------- */
  --color-shadow-rgb: 0, 0, 0;

  --transition-time: 200ms;
  --transition-time-half: 100ms;
  --transition-time-quarter: 100ms;
}

.xmas {
  /* ---------------------------- */
  /* 背景(ボディー)カラー */
  /* ---------------------------- */
  --color-background: #FFFFFF;

  /* ---------------------------- */
  /* ヘッダーカラー */
  /* ---------------------------- */
  --color-header: #cf1922;
  --color-on-header: #ffffff;
  --color-header-text-heading: #ffffff;
  --color-header-text-sanitized: #ffffff;

  /* ---------------------------- */
  /* フッターカラー */
  /* ---------------------------- */
  --color-footer: #573703;
  --color-on-footer: #ffffff;
  --color-footer-text-heading: #ffffff;
  --color-footer-text-sanitized: #ffffff;


  /* ---------------------------- */
  /* カードカラー */
  /* ---------------------------- */
  --color-card-surface: #077D47;
  --color-card-text-heading: #ffffff;
  --color-card-text-sanitized: #d5d5d5;
  --color-card-surface-hover: #cf1922;

  /* ---------------------------- */
  /* チップカラー */
  /* ---------------------------- */
  --color-chip-surface: #CF231B;
  --color-chip-surface-fill: #CF231B;
  --color-chip-surface-hover: #CF231B;
  --color-chip-surface-selected: #CF231B;

  --color-chip-text: #ffffff;
  --color-chip-text-fill: #ffffff;
  --color-chip-text-hover: #ffffff;
  --color-chip-text-selected: #ffffff;

  /* ---------------------------- */
  /* テキストカラー */
  /* ---------------------------- */
  --color-text-heading: #573703;
  --color-text-sanitized: #6f4500;
  --color-text-toc: #ffffff;

  /* ---------------------------- */
  /* プログレスバー */
  /* ---------------------------- */
  --color-surface-progress-bar: #CF231B;
  --color-background-progress-bar: #ffffff;


  /* ---------------------------- */
  /* スケルトン */
  /* ---------------------------- */
  --color-skeleton: #E6998A;
  --color-skeleton-line: #DE4108;

  /* ---------------------------- */
  /* リンク */
  /* ---------------------------- */
  --color-link: #f5271c;
  --color-link-hover: #f5271c;

  /* ---------------------------- */
  /* モバイルのTOCアイコン */
  /* ---------------------------- */
  --color-surface-mobile-toc-icon: #077D47;
  --color-mobile-toc-icon: #ffffff;

  /* ---------------------------- */
  /* 影 */
  /* ---------------------------- */
  --color-shadow-rgb: 0, 0, 0;

  --transition-time: 200ms;
  --transition-time-half: 100ms;
  --transition-time-quarter: 100ms;
}


/* ダークモード用のカラースキーマ */
/* @media (prefers-color-scheme: dark) {
:root {
  --color-background: #202124;

  --color-surface: #4A522D;
  --color-on-surface: #ffffff;

  --color-chip-hover: #6B7642;
  --color-chip-selected: #B4BE55;

  --color-header: #8A965D;
  --color-on-header: #ffffff;

  --color-border: #919191;

  --color-text-heading: #ebebeb;
  --color-text-sanitized: #dbdbdb;

  --color-accent: #c22de0;
  --color-warn: #ff4100;
}
} */