/* デフォルトのカラースキーマ */
:root {
  /* ---------------------------- */
  /* 背景(ボディー)カラー */
  /* ---------------------------- */
  --color-background: #ffffff;

  --color-dividing-line: #d2d2d2;

  /* ---------------------------- */
  /* ヘッダーカラー */
  /* ---------------------------- */
  --color-header: #E3E4DB;
  --color-on-header: #707070;
  --color-header-text-heading: #4b4b4b;
  --color-header-text-sanitized: #5c5c5c;

  /* ---------------------------- */
  /* フッターカラー */
  /* ---------------------------- */
  --color-footer: #E3E4DB;
  --color-on-footer: #707070;
  --color-footer-text-heading: #4b4b4b;
  --color-footer-text-sanitized: #5c5c5c;


  /* ---------------------------- */
  /* カードカラー */
  /* ---------------------------- */
  --color-card-surface: #E3E4DB;
  --color-card-text-heading: #4b4b4b;
  --color-card-text-sanitized: #5c5c5c;
  --color-card-surface-hover: #DCE2B3;


  /* ---------------------------- */
  /* チップカラー */
  /* ---------------------------- */
  --color-chip-surface: #ffffff;
  --color-chip-surface-fill: #DCE2B3;
  --color-chip-surface-hover: #D3DE83;
  --color-chip-surface-selected: #939B51;

  --color-chip-text: #707070;
  --color-chip-text-fill: #707070;
  --color-chip-text-hover: #707070;
  --color-chip-text-selected: #ffffff;

  /* ---------------------------- */
  /* テキストカラー */
  /* ---------------------------- */
  --color-text-heading: #313131;
  --color-text-sanitized: #414141;
  --color-text-toc: #171717;

  /* ---------------------------- */
  /* プログレスバー */
  /* ---------------------------- */
  --color-surface-progress-bar: #939B51;
  --color-background-progress-bar: #ffffff;

  /* ---------------------------- */
  /* スケルトン */
  /* ---------------------------- */
  --color-skeleton: #ececec;
  --color-skeleton-line: #f5f5f5;

  /* ---------------------------- */
  /* リンク */
  /* ---------------------------- */
  --color-link: #58b000;
  --color-link-hover: #99df52;

  /* ---------------------------- */
  /* モバイルのTOCアイコン */
  /* ---------------------------- */
  --color-surface-mobile-toc-icon: #939B51;
  --color-mobile-toc-icon: #ffffff;

  /* ---------------------------- */
  /* 影 */
  /* ---------------------------- */
  --color-shadow-rgb: 0, 0, 0;


  --transition-time: 200ms;
  --transition-time-half: 100ms;
  --transition-time-quarter: 100ms;
}

/* ダークモード用のカラースキーマ */
/* @media (prefers-color-scheme: dark) {
:root {
}
} */