/* デフォルトのカラースキーマ */
:root {
  /* ---------------------------- */
  /* 背景(ボディー)カラー */
  /* ---------------------------- */
  --color-background: #ffffff;

  /* ---------------------------- */
  /* 表面カラー */
  /* ---------------------------- */
  --color-surface: #E3E4DB;
  --color-on-surface: #707070;

  --color-surface-hover: #DCE2B3;

  /* ---------------------------- */
  /* チップカラー */
  /* ---------------------------- */
  --color-chip-surface: #ffffff;
  --color-chip-surface-hover: #DCE2B3;
  --color-chip-surface-selected: #939B51;

  --color-chip-text: #707070;
  --color-chip-text-hover: #707070;
  --color-chip-text-selected: #ffffff;

  /* ---------------------------- */
  /* テキストカラー */
  /* ---------------------------- */
  --color-text-heading: #313131;
  --color-text-sanitized: #707070;



  --transition-time: 200ms;
}

/* ダークモード用のカラースキーマ */
/* @media (prefers-color-scheme: dark) {
:root {
  --color-background: #202124;

  --color-surface: #4A522D;
  --color-on-surface: #ffffff;

  --color-chip-hover: #6B7642;
  --color-chip-selected: #B4BE55;

  --color-header: #8A965D;
  --color-on-header: #ffffff;

  --color-border: #919191;

  --color-text-heading: #ebebeb;
  --color-text-sanitized: #dbdbdb;

  --color-accent: #c22de0;
  --color-warn: #ff4100;
}
} */