@import "/src/css/global.scss";

:host {
  display: block;

  background-color: var(--color-card-surface);
  border-radius: 32px;

  transition: background-color var(--transition-time), border-radius var(--transition-time);

  margin-bottom: 16px;

  @include mq(spc) {
    margin-bottom: 24px;
  }

  &:hover {
    border-radius: 16px;
    background-color: var(--color-card-surface-hover);
    cursor: pointer;
  }

  .container {
    contain: layout inline-size;
    padding: 16px;
  
    .thumbnail {
      grid-area: thumb;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
    .title {
      grid-area: title;
      color: var(--color-card-text-heading);
      font-weight: bold;
      font-size: 16px;
      align-self: center;

      overflow: unset;
      white-space: unset;
      text-overflow: ellipsis;

      &.shimmer {
        height: 24px;
      }
    }
    .description {
      grid-area: desc;
      color: var(--color-card-text-sanitized);
      font-size: 12px;
      height: 18px;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .date {
      grid-area: date;
      color: var(--color-card-text-heading);
      font-size: 12px;
      justify-self: end;
      height: 18px;

      &.shimmer {
        width: 76px;
      }
    }
    display: grid;
    grid-template:
      "thumb ..... title title" 64px
      "..... ..... ..... ....." 4px
      "desc  desc  desc  desc" auto
      "..... ..... ..... ....." 4px
      "..... ..... ..... date" auto /
      64px   12px  1fr   1fr;

    &.medium-layout {
      .title {
        align-self: end;
        font-size: 18px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .description {
        align-self: start;

        overflow: unset;
        white-space: unset;
        text-overflow: ellipsis;
      }
      grid-template:
        "thumb ..... title title" 44px
        "thumb ..... ..... ....." 8px
        "thumb ..... desc desc" 36px
        "..... ..... ..... ....." 4px
        "..... ..... ..... date" auto /
        88px   16px   1fr   1fr;
    }

    &.large-layout {
      padding: 32px;
      .title {
        align-self: end;
        font-size: 20px;
        height: 30px;

        overflow: unset;
        white-space: unset;
        text-overflow: ellipsis;
      }
      .description {
        align-self: start;
        font-size: 14px;
        height: 21px;

        overflow: unset;
        white-space: unset;
        text-overflow: ellipsis;
      }
      .date {
        font-size: 14px;
        height: 21px;
        &.shimmer {
          width: 87px;
        }
      }
      grid-template:
        "thumb ..... title title" 56px
        "thumb ..... ..... ....." 16px
        "thumb ..... desc desc" 56px
        "..... ..... ..... ....." 4px
        "..... ..... ..... date" auto /
        128px   24px 1fr   1fr;
    }
  }
}