@import "/src/css/global.scss";

:host {
  display: block;

  background-color: var(--color-footer);
  color: var(--color-footer-text-heading);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  padding: 16px;

  .sections {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      width: 48px;
      height: 48px;
    }

    .name {
      font-size: 14px;
      color: var(--color-footer-text-sanitized);
    }
  }
}