:host {
  position: absolute;
  width: 100%;
  height: 100%;
  
  li{
    position: absolute;
    list-style: none;
    top: -50px;
    border-radius: 0% 70%;

    &:nth-child(1){
      left: 0%;
      top: -60px;
      width: 24px;
      height: 15px;
      animation: fall 10s linear infinite,
                 sway1 3s ease-in-out infinite alternate;
      animation-delay: 2s;
    }

    &:nth-child(2){
      left: 5%;
      top: -70px;
      width: 13px;
      height: 9px;
      animation: fall 15s linear infinite,
                 sway1 2s ease-in-out infinite alternate;
      animation-delay: 8s;
    }

    &:nth-child(3){
      left: 15%;
      top: -50px;
      width: 16px;
      height: 10px;
      animation: fall 9s linear infinite,
                 sway1 3.5s ease-in-out infinite alternate;
      animation-delay: 13s;
    }

    &:nth-child(4){
      left: 30%;
      top: -70px;
      width: 16px;
      height: 10px;
      animation: fall 8s linear infinite,
                 sway2 4s ease-in-out infinite alternate;
      animation-delay: 7s;
    }

    &:nth-child(5){
      left: 40%;
      top: -60px;
      width: 16px;
      height: 10px;
      animation: fall 10s linear infinite,
                 sway1 4s ease-in-out infinite alternate;
      animation-delay: 0s;
    }

    &:nth-child(6){
      left: 55%;
      top: -50px;
      width: 24px;
      height: 15px;
      animation: fall 11s linear infinite,
                 sway2 3s ease-in-out infinite alternate;
      animation-delay: 3s;
    }

    &:nth-child(7){
      left: 65%;
      top: -40px;
      width: 16px;
      height: 10px;
      animation: fall 7s linear infinite,
                 sway2 3.5s ease-in-out infinite alternate;
      animation-delay: 7s;
    }

    &:nth-child(8){
      left: 50%;
      top: -60px;
      width: 13px;
      height: 9px;
      animation: fall 7s linear infinite,
                 sway1 3s ease-in-out infinite alternate;
      animation-delay: 3s;
    }

    &:nth-child(9){
      left: 80%;
      top: -70px;
      width: 16px;
      height: 10px;
      animation: fall 10s linear infinite,
                 sway2 4s ease-in-out infinite alternate;
      animation-delay: 4s;
    }
  }
  
  @keyframes fall {
    to {
      top: 120%;
    }
  }
  
  @keyframes sway1 {
    from {
      transform: translateX(0px) rotate(0deg);
    }
    to {
      transform: translateX(200px) rotate(-45deg);
    }
  }
  
  @keyframes sway2 {
    from {
      transform: translateX(200px) rotate(-45deg);
    }
    to {
      transform: translateX(0px) rotate(0deg);
    }
  }
}